[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
autopep8 = "*"
gunicorn = "*"
pylint = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
psycopg2 = "*"
pillow = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
